html {
  font-family: "Chelsea Market", cursive, sans-serif;
  font-size: 62.5%;
  height: 100%;
}

html a {
  text-decoration: none;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url("background.jpg");
  background-size: cover;
  overflow: hidden;
  margin: 0;
  min-height: 100%;
  width: auto;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

body h1 {
  font-size: 5rem;
  text-align: center;
  margin: 1rem auto;
}

/*********POPUP*********/
#overlay {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
}

#overlay #popup {
  background-color: #fff;
  height: 15rem;
  width: 40%;
  margin: 14rem auto 0;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  border-style: solid;
  border-width: 0.2rem;
  border-color: #000;
  -webkit-box-shadow: 0px 6px 15px #000;
          box-shadow: 0px 6px 15px #000;
  text-align: center;
}

#overlay #popup h2 {
  margin: 0;
  margin-top: 1rem;
}

#overlay #popup #close-button {
  color: #000;
  background: radial-gradient(ellipse at center, #888b8a 0%, #484b48 100%);
  height: 3.5rem;
  width: 5rem;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 5px;
  border-width: 2px;
  border-color: #000;
  outline: none;
}

/*********MAIN CONTAINER*********/
.game-container {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.left-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-container {
  min-width: 20rem;
  width: 20rem;
  min-height: 40rem;
  height: 40rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #ccffcc;
  border-radius: 0.5rem;
  border-style: solid;
  border-width: 0.2rem;
  border-color: #000;
}

.main-container div {
  height: 2rem;
  width: 2rem;
  border: 0.2rem #000;
}

.mini-container {
  width: 8rem;
  height: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 1rem 0 0 5rem;
  background-color: #ccffcc;
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: #000;
}

.mini-container div {
  width: 2rem;
  height: 2rem;
}

.info {
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info h3 {
  margin: 0 auto;
  margin-left: 5rem;
}

.info #gameover {
  display: none;
  margin: 0 auto;
  margin-left: 5rem;
}

/*********BUTTONS*********/
#start-button {
  font-family: "Chelsea Market", cursive, sans-serif;
  background: radial-gradient(ellipse at center, #99ffcc 0%, #ccffcc 100%);
  font-size: 2rem;
  padding: 1rem 0.5rem;
  margin-top: 10rem;
  margin-left: 3rem;
  border-radius: 5px;
  border-width: 2px;
  border-color: #000;
  outline: none;
  width: 13rem;
}

#start-button:hover {
  background: radial-gradient(ellipse at center, #8ac379 0%, #ccffcc 100%);
  -webkit-box-shadow: 0px 6px 15px #000;
          box-shadow: 0px 6px 15px #000;
}

.grid-button {
  display: -ms-grid;
  display: grid;
  display: none;
  margin-top: 2rem;
  margin-left: 3rem;
}

.grid-button .move-btns {
  font-size: 3rem;
  background: radial-gradient(ellipse at center, #99ffcc 0%, #ccffcc 100%);
  height: 4rem;
  width: 4rem;
  padding: 0.3rem;
  margin: 0.5rem auto;
  border-radius: 5px;
  border-width: 2px;
  border-color: #000;
  outline: none;
}

.grid-button .move-btns:hover {
  background: radial-gradient(ellipse at center, #8ac379 0%, #ccffcc 100%);
  -webkit-box-shadow: 0px 6px 15px #000;
          box-shadow: 0px 6px 15px #000;
}

.grid-button #left-button {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.grid-button #rotate-button {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.grid-button #right-button {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.grid-button #down-button {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

@media (max-width: 991.98px) {
  #start-button {
    margin-top: 5rem;
  }
  .grid-button {
    display: -ms-grid;
    display: grid;
  }
}

/*********FOOTER*********/
footer {
  background-color: rgba(0, 0, 0, 0.5);
  height: 12rem;
  width: 100vw;
  margin-top: 2rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

footer #footer-container {
  padding-top: 1rem;
}

footer #footer-container h3 {
  display: block;
  color: #ccffcc;
  font-size: 2rem;
  letter-spacing: 0.5rem;
  width: 30rem;
  text-align: center;
  margin: 0.5rem auto 0;
}

footer #footer-container #footer-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20%;
  margin: 0 auto;
  padding-top: 1rem;
}

footer #footer-container #footer-icons .fa,
footer #footer-container #footer-icons .mail {
  padding: 0.5rem;
  font-size: 2rem;
  width: 2rem;
  height: 2rem;
  text-align: center;
  background: none;
  border: 0.2rem #000 solid;
  border-radius: 50%;
  color: #000;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

footer #footer-container #footer-icons .fa:hover,
footer #footer-container #footer-icons .mail:hover {
  background-color: #ccffcc;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border: 0.2rem #ccffcc solid;
  -webkit-box-shadow: 0px 6px 15px #000;
          box-shadow: 0px 6px 15px #000;
}

@media (max-width: 991.98px) {
  footer #footer-container #footer-icons {
    width: 15rem;
  }
}

footer #footer-container #copyright {
  display: block;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

footer #footer-container #copyright .copyright-text {
  color: #ccffcc;
  font-size: 1.5rem;
  margin: 1.5rem auto 0;
}
/*# sourceMappingURL=style.css.map */