$colors: (
  main: #ccffcc,
  text: #000,
  text2: #fff,
);

@function color($colors-name) {
  @return map-get($colors, $colors-name);
}

html {
  font-family: "Chelsea Market", cursive, sans-serif;
  font-size: 62.5%;
  height: 100%;

  a {
    text-decoration: none;
  }
}

body {
  display: flex;
  flex-direction: column;
  background-image: url("background.jpg");
  background-size: cover;
  overflow: hidden;
  margin: 0;
  min-height: 100%;
  width: auto;
  touch-action: manipulation; //disable-dbl-tap-zoom

  h1 {
    font-size: 4.5rem;
    text-align: center;
    margin: 1rem auto;
  }
}

/*********POPUP*********/
#overlay {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;

  #popup {
    background-color: color(text2);
    height: 15rem;
    width: 40%;
    margin: 14rem auto 0;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    border-style: solid;
    border-width: 0.2rem;
    border-color: color(text);
    box-shadow: 0px 6px 15px color(text);
    text-align: center;

    h2 {
      margin: 0;
      margin-top: 1rem;
    }

    #close-button {
      color: color(text);
      background: radial-gradient(
        ellipse at center,
        rgb(136, 139, 138) 0%,
        rgb(72, 75, 72) 100%
      );
      height: 3.5rem;
      width: 5rem;
      font-size: 1.5rem;
      font-weight: bold;
      border-radius: 5px;
      border-width: 2px;
      border-color: color(text);
      outline: none;
    }
  }
}

/*********MAIN CONTAINER*********/
.game-container {
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
}

.left-flex {
  display: flex;
  flex-direction: column;
}

.main-container {
  min-width: 20rem;
  width: 20rem;
  min-height: 40rem;
  height: 40rem;
  display: flex;
  flex-wrap: wrap;
  background-color: color(main);
  border-radius: 0.5rem;
  border-style: solid;
  border-width: 0.2rem;
  border-color: color(text);

  div {
    height: 2rem;
    width: 2rem;
    border: 0.2rem color(text);
  }
}

.mini-container {
  width: 8rem;
  height: 8rem;
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 0 0 5rem;
  background-color: color(main);
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: color(text);
  div {
    width: 2rem;
    height: 2rem;
  }
}

.info {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  h3 {
    margin: 0 auto;
    margin-left: 5rem;
  }
  #gameover {
    display: none;
    margin: 0 auto;
    margin-left: 5rem;
  }
}

/*********BUTTONS*********/
#start-button {
  font-family: "Chelsea Market", cursive, sans-serif;
  background: radial-gradient(
    ellipse at center,
    rgba(153, 255, 204, 1) 0%,
    rgba(204, 255, 204, 1) 100%
  );
  font-size: 2rem;
  padding: 1rem 0.5rem;
  margin-top: 10rem;
  margin-left: 3rem;
  border-radius: 5px;
  border-width: 2px;
  border-color: color(text);
  outline: none;
  width: 13rem;

  &:hover {
    background: radial-gradient(
      ellipse at center,
      rgba(138, 195, 121, 1) 0%,
      rgba(204, 255, 204, 1) 100%
    );
    box-shadow: 0px 6px 15px color(text);
  }
}

.grid-button {
  display: grid;
  display: none;
  margin-top: 2rem;
  margin-left: 3rem;

  .move-btns {
    font-size: 3rem;
    background: radial-gradient(
      ellipse at center,
      rgba(153, 255, 204, 1) 0%,
      rgba(204, 255, 204, 1) 100%
    );
    height: 4rem;
    width: 4rem;
    padding: 0.3rem;
    margin: 0.5rem auto;
    border-radius: 5px;
    border-width: 2px;
    border-color: color(text);
    outline: none;

    &:hover {
      background: radial-gradient(
        ellipse at center,
        rgba(138, 195, 121, 1) 0%,
        rgba(204, 255, 204, 1) 100%
      );
      box-shadow: 0px 6px 15px color(text);
    }
  }

  #left-button {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  #rotate-button {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  #right-button {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }

  #down-button {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
  }
}

@media (max-width: 1024px) {
  #start-button {
    margin-top: 5rem;
  }

  .grid-button {
    display: grid;
  }
}
/*********FOOTER*********/
footer {
  background-color: rgba(0, 0, 0, 0.5);
  height: 12rem;
  width: 100vw;
  margin-top: 2rem;
  flex-shrink: 0;

  #footer-container {
    padding-top: 1rem;

    h3 {
      display: block;
      color: color(main);
      font-size: 2rem;
      letter-spacing: 0.5rem;
      width: 30rem;
      text-align: center;
      margin: 0.5rem auto 0;
    }

    #footer-icons {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 20%;
      margin: 0 auto;
      padding-top: 1rem;

      .fa,
      .mail {
        padding: 0.5rem;
        font-size: 2rem;
        width: 2rem;
        height: 2rem;
        text-align: center;
        background: none;
        border: 0.2rem color(text) solid;
        border-radius: 50%;
        color: color(text);
        transition: all 0.5s;

        &:hover {
          background-color: color(main);
          transition: all 0.5s;
          border: 0.2rem color(main) solid;
          box-shadow: 0px 6px 15px color(text);
        }
      }
    }

    @media (max-width: 1024px) {
      #footer-icons {
        width: 15rem;
      }
    }

    #copyright {
      display: block;
      width: 100%;
      margin: 0 auto;
      text-align: center;

      .copyright-text {
        color: color(main);
        font-size: 1.5rem;
        margin: 1.5rem auto 0;
      }
    }
  }
}